.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    width: 100%;
}

@media screen and (max-width: 799px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        gap: 15px;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin-left: 1vh;
    }
}
