.contact-container{
    display: flex;
}

.contact-information {
    margin-left: 35px;
}

.larger-text {
    font-size: 20px;
    margin-left: 27px;
}

.smaller-text {
    font-size: 12px;
    margin-left: 22px
}


.contact-information {
    max-width: 400px;
    padding: 1rem;
    background-color: #f5f5f5;
    background-color: var(--bg-color);
    border-radius: 5px;
}

.larger-text,
.smaller-text {
    color: #808080;
}

.contact-information input[type="text"],
.contact-information input[type="email"],
.contact-information textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 5%;
    background-color: #fff;
    color: white;
}

.contact-information button {
    background-color: #EC4899;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-information button:hover {
    background-color: #555;
}

.contact-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.span-email {
    color: #EC4899;
}

/* .contact-right iframe {
    color: #808080;
} */